
body{
    text-align: center;
    font-family: 'Bungee', cursive;
}

#contador2{
    display: none;
}

.boton{
    background: #4E03BB;
    cursor: pointer;
    color: #fff;
    border: 0;
    padding: 6px;
    width: 150px;
    border-radius: 3px;
    margin: 10px auto;
    transition: .3s ease all;
}
.boton:hover{
    background: #7E42D5;
}